In [0]:
%sql
CREATE TABLE students
  (id INT, name STRING, value DOUBLE);

In [0]:
%sql
CREATE TABLE IF NOT EXISTS students 
  (id INT, name STRING, value DOUBLE)

In [0]:
%sql
INSERT INTO students VALUES (1, "Yve", 1.0);
INSERT INTO students VALUES (2, "Omar", 2.5);
INSERT INTO students VALUES (3, "Elia", 3.3);

In [0]:
%sql
INSERT INTO students
VALUES 
  (4, "Ted", 4.7),
  (5, "Tiffany", 5.5),
  (6, "Vini", 6.3)

In [0]:
%sql
UPDATE students 
SET value = value + 1
WHERE name LIKE "T%"

In [0]:
DELETE FROM students 
WHERE value > 6

In [0]:
%sql
CREATE OR REPLACE TEMP VIEW updates(id, name, value, type) AS VALUES
  (2, "Omar", 15.2, "update"),
  (3, "", null, "delete"),
  (7, "Blue", 7.7, "insert"),
  (11, "Diya", 8.8, "update");

In [0]:
MERGE INTO students b
USING updates u
ON b.id=u.id
WHEN MATCHED AND u.type = "update"
  THEN UPDATE SET *
WHEN MATCHED AND u.type = "delete"
  THEN DELETE
WHEN NOT MATCHED AND u.type = "insert"
  THEN INSERT *

In [0]:
DESCRIBE DETAIL students

In [0]:
OPTIMIZE students
ZORDER BY id

In [0]:
%sql
SELECT * 
FROM students VERSION AS OF 3

In [0]:
RESTORE TABLE students TO VERSION AS OF 8

In [0]:
VACUUM students RETAIN 0 HOURS